// 主色
@color-primary: #409eff;
@color-primary-hover: #66b1ff;

// 辅助色
@color-info: #909399;
@color-success: #67c23a;
@color-warning: #e6a23c;
@color-danger: #f56c6c;

// 文字
@color-text-main: #303133;
@color-text-normal: #606266;
@color-text-sub: #909399;
@color-text-placehoder: #c0c4cc;

// 边框
@color-border-1: #dcdfe6;
@color-border-2: #e4e7ed;
@color-border-3: #ebeef5;
@color-border-4: #f2f6fc;

// 背景
@color-bg: #f8f8f9;
@color-content-bg: #ececec;
@color-white-bg: #ffffff;
@color-login-bg: #f0f2f5;

// 业务里的颜色
@color-ok: #abe530;
@color-error: #ff5b5b;
@color-warn: #ffc71c;
